* {
  margin: 0px;
  padding: 0px;
}

.nav_header {
  color: #333;
  font-family: Inconsolata;
  font-size: 24px;
  line-height: normal;
  letter-spacing: -1.92px;
  text-transform: uppercase;
  padding: 20px;
  margin-left: 20px;
}

.info_container {
  display: flex;
  align-items: center;
  margin-left: 150px;
  margin-top: 10px;
}

.img_container {
  padding: 50px;
  width: 70%;
  height: 80vh;
  margin-top: 50px;
}

.img {
  width: 90%;
  height: 80%;
}

.des_text {
  color: var(--gray-1, #333);
  font-family: Space Mono;
  font-size: 50px;
  margin-right: 300px;

  width: 90%;
  margin-left: 20px;
}

.des_p {
  color: var(--gray-2, #4f4f4f);
  font-family: Space Mono;
  font-size: 16px;
  margin: 20px;
}

.btn {
  width: 156px;
  height: 60px;
  flex-shrink: 0;
  padding: 20px;
  background: var(--gray-1, #333);
  border: 0px;
  color: white;
  margin-left: 20px;
  margin-top: 20px;
}

footer {
  color: #bdbdbd;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 576px) {
  .info_container {
    flex-direction: column;
  }
  .img_container {
    height: 40vh;
    margin-top: 50px;
    margin-right: 100px;
  }

  .img {
    width: 100%;
    height: 100%;
  }

  .des_text {
    color: var(--gray-1, #333);
    font-family: Space Mono;
    font-size: 40px;
    width: 70%;
    /* width: 90%; */
    /* margin-left: 20px; */
  }

  .des_p {
    color: var(--gray-2, #4f4f4f);
    font-family: Space Mono;
    width: 70%;
  }
}
